/simple information/nbproject/private/
/simple information/build/
/simple calculator/nbproject/private/
/simple calculator/build/
/using different classes/nbproject/private/
/using different classes/build/